.sidebarComponent {
    display: flex;
    width: 100%;
}

.sidebarComponent .sidebar {
    margin-left: -350px;
    width: 350px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
    overflow: auto;
}

.sidebarComponent.active .sidebar {
    margin-left: 0;
}

/*-------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.sidebarComponent .content {
    width: 100%;
    padding: 5px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    right: 0;
}

.sidebarComponent.active .content {
    width: calc(100% - 350px);
}

.react-datepicker-popper {
    width: max-content;
}


/*
progress-chart
 */
.progress-chart {
    height: 5px;
}

/*
relative date inputs width
 */
.relative-date {
    width: 120px;
}